* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b1020;
    color: white;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background: #080c18;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff7a00;
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff7a00;
}

.hero {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding: 0 8%;
    background: linear-gradient(
        rgba(5, 10, 25, 0.8),
        rgba(5, 10, 25, 0.8)
    );
}

.hero-content {
    max-width: 650px;
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.hero h1 span {
    color: #ff7a00;
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    color: #d0d0d0;
}

.details {
    margin: 25px 0;
    color: #ff7a00 !important;
}

.btn {
    display: inline-block;
    padding: 14px 30px;
    background: #ff7a00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #e56700;
}


.page {
    min-height: calc(100vh - 70px);
    padding: 80px 8%;
    text-align: center;
}

.page h1 {
    font-size: 45px;
    margin-bottom: 25px;
}

.page h1 span {
    color: #ff7a00;
}

.page > p {
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
    color: #ccc;
    font-size: 18px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

.card {
    width: 280px;
    padding: 30px;
    background: #151b2e;
    border-radius: 8px;
}

.card h2 {
    color: #ff7a00;
    margin-bottom: 15px;
}

.card p {
    color: #ccc;
    line-height: 1.5;
}

.prize {
    margin-top: 50px;
    color: #ff7a00;
}


.login-section {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 380px;
    padding: 35px;
    background: #151b2e;
    border-radius: 10px;
    text-align: center;
}

.login-box h1 {
    color: #ff7a00;
    margin-bottom: 8px;
}

.login-box > p {
    color: #bbb;
    margin-bottom: 25px;
}

.login-box input {
    width: 100%;
    padding: 13px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #0b1020;
    color: white;
}

.login-box button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 5px;
    background: #ff7a00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background: #e56700;
}

.login-text {
    margin-top: 20px;
}

.login-text a {
    color: #ff7a00;
    text-decoration: none;
}